<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Hub</title>
</head>
<body>
<div>
            <h1>NEWS RECOMMENDATION SYSTEM</h1>
            <form action="" method="get">
                <input type="text" name="query" placeholder="search keywords"/>
                <button type="submit">search</button>
            </form>
        </div>
        <p className="read-the-docs">
            Stay informed with personalized news tailored to your interests.
        </p>
</body>
</html>

{#<!doctype html>#}
{#<html lang="en">#}
{#  <head>#}
{#    <meta charset="UTF-8" />#}
{#    <link rel="icon" type="image/svg+xml" href="/logo.svg" />#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0" />#}
{#    <title>HungryHub</title>#}
{#  </head>#}
{#  <body>#}
{#    <div id="root"></div>#}
{#    <script type="module" src="../frontend/src/index.jsx"></script>#}
{#  </body>#}
{#</html>#}